/* === HEADER ===*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
}

header nav {
    margin-right: 50px;
}

header nav * {
    text-decoration: none;
    justify-self: end;
    color: #333;
}

header nav a:hover {
    color: black;
    font-weight: bold;
}


/* === PAGE === */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Verdana, sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh;
    color: #333;
    line-height: 1.6;
}